.all_images_container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.elem_container{
  display: inline-block;
  overflow: hidden;
  padding: 10px;
}

.round_logo{
  width: 100%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  opacity: .8;
  cursor: pointer;
}

.round_logo.active{
  transform: scale(1.2);
  border: 3px solid rgba(255,255,255,.8);
  opacity: 1;
}

